html,body{
    font-family: 'Kumbh Sans', sans-serif;
    height: 100%;
    margin:0;
    padding:0;
    color:hsl(238, 29%, 16%);
}

body{
    background: linear-gradient(90deg, hsl(273, 75%, 66%), hsl(240, 73%, 68%))
}

.wrap_cont{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80vw;
    height: 510px;
    background:#fff;
    border-radius: 3%;
}

.cont_left, .cont_right{
    width:50%;
}

.cont_left{
    position: relative;
    overflow: hidden;
}

   .wrap_cont::before{
    content: '';
    position:absolute;
    display: block;
    left:-2.5%;
    top:52%;
    width: 141px;
    height: 107px;
    background: url(./images/illustration-box-desktop.svg);
    transform: translate(-50%, -50%);
    z-index: 300;
}

.img_main{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); /* 중앙정렬 활용해서 밀리게 하기 */
    z-index:200;
}

.img_main.mobile{
    display: none;
}

.img_main.pc{
    display: block;
}

.cont_left::after{
    content: '';
    display: block;
    position: absolute;
    width:472px;
    height: 472px;
    left: -3vw;
    top: 11%;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 100%;
    z-index:100;
}

.box{
    position: absolute;
    top: 50%;
    left:35%;
    transform: translate(-50%, -50%);
}

.cont_right{
    vertical-align: middle;
    padding-top: 110px;
}

.title{
    font-size:1.8rem;
    font-weight: 700;
}

.cont_right strong:hover{
    color: hsl(14, 88%, 65%);
}

.cont_right .wrap_list{
    margin-top: 20px;
}

.cont_right .list_item{
    display: block;
    position: relative;
    width: 78%;
    padding: 15px 30px 15px 10px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    cursor: pointer;
}

.cont_right .list_item::before{
    content: '';
    width: 10px;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 19px;
    background: url(./images/icon-arrow-down.svg);
}

.cont_right .list_item.active::before{
    transform: rotate(180deg);
}

.cont_right .inner_item{
    display: none;
}

.cont_right .list_item.active .inner_item{
    display: block;
    padding:20px 0 5px 0;
    font-size: 12px;
    font-weight: 400;
    color:hsl(240, 6%, 50%)
}

.attribution {
    position: absolute;
    bottom:5px;
    width:100%;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 580px) {

    body{
        height: 150vh;
    }

    .wrap_cont{
        flex-direction: column;
        height: 600px;
        margin-top: 20vh;
    }

    .wrap_cont::before, .cont_left::after{
        display: none;
    }

    .cont_left{
        overflow: visible;
    }

    .img_main.mobile{
        display: block;
        top: 50%;
        left: 50%;
    }

    .img_main.pc{
        display: none;
    }

    .cont_left, .cont_right{
        width: auto;
        padding: 35px 10% 0 10%;
    }

    .cont_right{
        margin-top: 20%;
    }

    .cont_right .list_item{
        width: 100%;
        box-sizing: border-box;
    }
}